// 把全局公共样式写到这里
// 导入语法  @import "xxx"
// @import "./icon.less"

body {
    background-color: #f5f7f9;
}

//导航栏
.page-nav-bar {
    background-color: #3296fa;
    .van-nav-bar__title{
        color:#fff;
    }
}